$light-text: #666b70;
$dark-text: #ffffff;

$mat-white: (
  50: white,
  100: white,
  200: white,
  300: white,
  400: white,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white,
  A100: white,
  A200: white,
  A400: white,
  A700: white,
  contrast: (
    50: $light-text,
    100: $light-text,
    200: $light-text,
    300: $light-text,
    400: $light-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $light-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  )
);

$mat-dark-grey: (
  50: #e4e4e4,
  100: #bcbcbc,
  200: #909090,
  300: #646464,
  400: #424242,
  500: #212121,
  600: #1d1d1d,
  700: #181818,
  800: #141414,
  900: #0B0B0B,
  contrast: (
    50: $light-text,
    100: $light-text,
    200: $light-text,
    300: $dark-text,
    400: $dark-text,
    500: $dark-text,
    600: $dark-text,
    700: $dark-text,
    800: $dark-text,
    900: $dark-text,
  )
);
