@import "normalize.css/normalize.css";
@import "bootstrap/scss/bootstrap-grid.scss";
@import "./material";

a {
  color: red;
  text-decoration: none;
}

body {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-surface);
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

#blog-post-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

#blog-post-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

#blog-post-hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

#blog-post-hero-image {
  width: 100%;
}

#fof {
  margin: 200px 0;
  text-align: center;

  .mdc-button {
    --mdc-theme-primary: red;
  }
}

.container,
.container-fluid {
  width: auto;
}

.mdc-app-bar {
  margin: 16px 0;
  position: inherit;
}

.mdc-button {
  --mdc-theme-primary: var(--mdc-theme-secondary);
}

.mdc-card {
  margin: 8px;
  > .mdc-card-wrapper__text-section,
  > .mdc-card__content {
    margin: 0 16px;
  }
}
