---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="container is-fluid">
    <div class="row justify-content-center">
      <div id="fof" class="col-xs-12 col-md-11 col-xl-10">
        <h1>404</h1>
        <p>Page not found...</p>
        <a class="mdc-button" href="/">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Go Home?</span>
        </a>
      </div>
    </div>
  </section>
</BaseLayout>
