<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport role="dialog" mode="over">
    <mat-toolbar>{{ title }}</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let path of paths" mat-list-item [routerLink]="path.link" (click)="drawer.close()">{{ path.name }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <ng-container *ngIf="isHandset$ | async, else elseTitle">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </ng-container>
      <ng-template #elseTitle>
        <a class="inherit" [routerLink]="homePath">{{ title }}</a>
        <span class="toolbar-spacer"></span>
        <ng-template ngFor let-path [ngForOf]="paths">
          <a *ngIf="!path.hideInNav" mat-button [routerLink]="path.link">{{path.name}}</a>
        </ng-template>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
