<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport role="dialog" mode="over">
    <mat-toolbar>{{ title }}</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let path of paths" mat-list-item [routerLink]="path.link" (click)="drawer.close()">{{ path.name }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="inherit" [routerLink]="['/']">{{ title }}</a>
      <span *ngIf="!(isHandset$ | async)" class="navbar-spacer"></span>
      <ng-template ngFor let-path [ngForOf]="paths">
        <a *ngIf="!(isHandset$ | async) && !path.hideInNav" mat-button
          [routerLink]="path.link">{{path.name}}</a>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
