@import "~@angular/material/theming";
@import "./styles/variables";

@include mat-core();

$mat-warn: mat-palette($mat-red);

$dark-primary: mat-palette($mat-dark-grey);
$dark-accent: mat-palette($mat-pink, A200, A100, A400);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $mat-warn);

$light-primary: mat-palette($mat-white);
$light-accent: mat-palette($mat-blue, A200, A100, A400);
$light-theme: mat-light-theme($light-primary, $light-accent, $mat-warn);

@include angular-material-theme($light-theme);

@media (prefers-color-scheme: dark) {
  @include angular-material-theme($dark-theme);

  body {
    background-color: #303030;
  }
  noscript {
    color: $dark-text;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar.mat-toolbar {
  font-family: "Product Sans", "Helvetica Neue", sans-serif;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

a {
  text-decoration: none;

  &.inherit {
    color: inherit;
  }
}

img[mat-card-avatar] {
  background-color: white;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

img.loading {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #bcbcbc 8%, #646464 38%, #bcbcbc 54%);
  background-size: 1000px 640px;
  position: relative;
}
