---
import "../styles/global.scss";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import BaseHead from "../components/BaseHead.tsx";
import Footer from "../components/Footer.tsx";
import Navbar from "../components/Navbar.tsx";
import Theme from "../components/Theme.tsx";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
console.log(Astro.generator);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Theme />
    <BaseHead description={description} site={Astro.site} title={title} url={Astro.url} />
    <slot name="head" />
  </head>

  <body style="height: 100%;">
    <Navbar />
    <main class="mdc-top-app-bar--fixed-adjust">
      <div class="container is-fluid">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>