---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.tsx";
import Footer from "../components/Footer.tsx";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>

  <body style="height: 100%;">
    <Navbar />
    <main class="mdc-top-app-bar--fixed-adjust">
      <div class="container is-fluid">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
