img[mat-list-icon].mat-list-icon.custom-icon {
  background-color: white;
  height: 48px;
  padding: 0;
  width: 48px;
}

mat-card {
  mat-card-header {
    margin: 0 -16px;
    @media only screen and (max-width: 576px) and (min-width: 301px) {
      margin: 0;
    }
  }

  img[mat-card-avatar] {
    height: auto;
    margin-bottom: 16px;
    max-height: 100px;
    max-width: 100px;
    width: 100%;
  }

  @media only screen and (max-width: 300px) {
    mat-card-header.mat-card-header {
      flex-direction: column-reverse;
    }
    img[mat-card-avatar] {
      border-radius: 0;
      max-height: 100%;
      max-width: 100%;
    }
  }

}

mat-icon[mat-list-icon].mat-list-icon.custom-icon {
  background-color: white;
  color: black;
  height: 32px;
  font-size: 32px;
  padding: 8px;
  width: 32px;
}

#profile-card {
  margin-bottom: 32px;
  margin-top: 32px;

  .desktop-image {
    border-radius: 4px 0 0 4px;
    object-fit: cover;
    height: calc(100% + 32px);
    margin-bottom: -16px;
    margin-left: -16px;
    margin-top: -16px;
    width: calc(100% + 32px);
  }

  .social-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;

    .social-icon {
      padding: 12px;
    }
  }
}
