<app-banner topic="coffee,coffeeshop" [title]="meta.title" [description]="meta.description"></app-banner>

<mat-toolbar color="primary">
  <span>{{ active.title }} Experience{{(data.experiences | experiences:active.type).length > 1 ? 's' : ''}}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Experience filter menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let filter of filters" (click)="selectFilter(filter)" mat-menu-item>
      <mat-icon>{{ filter.icon }}</mat-icon>
      <span>{{ filter.title }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div *ngFor="let experience of (data.experiences | experiences:active.type)" class="col-xs-12 col-sm-6 col-lg-4">
      <app-experience-card [experience]="experience"></app-experience-card>
    </div>
  </div>
</div>
