<section>
  <div class="banner">
    <img class="banner-image" src="/assets/backgrounds/{{background}}.webp" alt="{{title}}">
    <div class="banner-overlay"></div>
    <div class="banner-content-wrapper">
      <div class="banner-content">
        <h1 class="banner-title">{{title}}</h1>
        <p class="banner-description">{{description | safe}}</p>
      </div>
    </div>
  </div>
</section>