<script>
  window['firebaseConfig'] = {
    apiKey: '{{firebase.apiKey}}',
    authDomain: '{{firebase.authDomain}}',
    databaseURL: '{{firebase.databaseURL}}',
    projectId: '{{firebase.projectId}}',
    storageBucket: '{{firebase.storageBucket}}',
    messagingSenderId: '{{firebase.messagingSenderId}}',
    appId: '{{firebase.appId}}',
    measurementId: '{{firebase.measurementId}}',
  };
</script>
<script src="https://www.googletagmanager.com/gtag/js?l=dataLayer&amp;id={{firebase.measurementId}}" defer></script>
<script charset="utf-8" src="/scripts/firebase.js" defer></script>