<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      {# <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button> #}
      <a class="mdc-top-app-bar__title" href="/">{{about.name}}</a>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      {% if about.devto %}
        <a class="mdc-top-app-bar__action-item mdc-button" href="{{pages.devto.path}}">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">{{pages.devto.title}}</span>
        </a>
      {% endif %}
      {% if about.github %}
        <a class="mdc-top-app-bar__action-item mdc-button" href="{{pages.github.path}}">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">{{pages.github.title}}</span>
        </a>
      {% endif %}
      {% if about.youtubePlaylist %}
        <a class="mdc-top-app-bar__action-item mdc-button" href="{{pages.youtubePlaylist.path}}">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">{{pages.youtubePlaylist.title}}</span>
        </a>
      {% endif %}
    </section>
  </div>
</header>
